.todo-form {
  display: flex;
  justify-content: center;

  padding: 2em 0 1em;
}

.todo-form-input {
  width: 15em;
  margin-inline-start: 2em;
  border: 1px solid #F5F5F5;
  padding: .5em .875em;
}

.todo-form-input::placeholder {
  font-weight: 100;

  color: #E0E0E0;
}
