.todo-item {
  position: relative;

  width: 15em;
  border: 1px solid #F5F5F5;
  border-bottom: 0;
  padding: .75em 2em .75em 1em;

  background-color: #FFF;
}

.todo-item:hover .todo-item-remove {
  opacity: 1;
}

.todo-item-completed .todo-item-checkbox::after {
  content: '\f00c';
}

.todo-item-completed .todo-item-text {
  text-decoration: line-through;

  color: #9E9E9E;
}

.todo-item-editing .todo-item-form {
  display: block;
}

.todo-item-checkbox {
  position: absolute;
  top: 50%;
  left: -1.75em;

  transform: translateY(-50%);
}

.todo-item-checkbox::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  width: 1.5em;
  height: 1.5em;
  border: 1px solid #F5F5F5;
  border-radius: 100%;

  line-height: 1.5em;
  text-align: center;

  color: #9E9E9E;
  background-color: #FFF;

  transform: translate(-50%, -50%);
  cursor: pointer;
}

.todo-item-text {
  display: block;
  min-height: 1.5em;

  word-break: break-word;

  cursor: pointer;
}

.todo-item-remove {
  position: absolute;
  top: 50%;
  right: .5em;

  opacity: 0;

  font-size: 16px;
  line-height: 1.5em;
  text-decoration: none;

  color: #BDBDBD;

  transform: translateY(-50%);
  transition: opacity .2s,
              color .2s;
}

.todo-item-remove:hover {
  color: #F44336;
}

.todo-item-form {
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  z-index: 1;

  display: none;
}

.todo-item-input {
  width: 100%;
  border: 1px solid #E0E0E0;
  outline: none;
  padding: .75em 1em;

  line-height: 1.5em;

  box-shadow: inset 0 0 10px #DDD;
}
