.todo-filter-link {
  display: block;
  margin-inline-end: .5em;
  border-radius: 5px;
  padding: .5em .75em;

  font-size: 12px;
  text-decoration: none;

  color: #BDBDBD;

  transition: color .2s,
              background-color .2s;
}

.todo-filter-link:hover {
  color: #000;
  background-color: #E0E0E0;
}
