.hero-card {
  display: block;
  padding: 1em;

  background-color: #F5F5F5;

  transition: background-color .5s;
}

.hero-card-selected {
  background-color: #BBDEFB;
}

.hero-card-image {
  display: block;
}

.hero-card-name {
  position: relative;

  display: block;
  margin-top: -2.5em;
  padding: .5em;

  text-align: center;

  color: #FFF;
  background-color: rgba(0,0,0,0.5);
}
